<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
 
    # Force HTTPS + Non-WWW
    RewriteCond %{HTTPS} off [OR]
    RewriteCond %{HTTP_HOST} ^www\.vellkoerp\.com$ [NC]
    RewriteRule ^(.*)$ https://vellkoerp.com/$1 [R=301,L]
 
    # React SPA Routing
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule . /index.html [L]
</IfModule>
